<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>paradelmundoquenosbajamos</title>

    <meta name="description" content="blog viajes paradelmundoquenosbajamos">
    <meta name="author" content="Iñaki Alfaro">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
        <div class="row">
            <img id="banner" src="/home/inakiap/Imágenes/bannerbloj.jpg" height="100%" width="100%">
        </div>

{% for entrada in entradas -%}

	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					{{ entrada.titulo }} 
				</h1>
			</div>
            <div>
                <h4>
                    {{ entrada.autor}}
                </h4>
                <h5 class="text-muted">
                    <smaller>
                        {{ entrada.fecha }}
                     </smaller>
                </h5>
            {% if entrada.etiquetas != "" %}
                <h6 class="text-muted date">
                    {{ entrada.etiquetas }}
                </h6>
            {% endif %}
            {% if entrada.categorias != "" %}                
                <h6 class="text-muted date">
                    {{ entrada.categorias }}
                </h6>
            {% endif %}
            </div>
			
			<div>
				{{entrada.contenido}}
            </div>
    {% if entrada.numero_comentarios > '0' %}                
        {% for comentario in entrada.comentarios %}
			<blockquote class="blockquote text-right">
				<p class="mb-0">
					{{ comentario.contenido_comentario }} 
				</p>
				<footer class="blockquote-footer">
                    <p>
                        {{ comentario.autor_comentario }}                
					</p>
                    <cite>
                        {{ comentario.email }}
                    </cite>
				</footer>
			</blockquote>
        {% endfor %}    
    {% endif %}
		</div>
	</div>

{% endfor %}

</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>